@use "../abstracts/index" as *;

html, body {
  overflow-x: hidden;
}

body{
    margin: 0;
    width: 100%;
    
    
}

.container{
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}