// Devices sizes

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;


//colors

$orange: #D5966C;
$black: #151515;
$gray: #444444;
$white : #FFFFFF;

//font

$tittle: Big Shoulders;
$sbtittle: Outfit;


