@use "../abstracts/index" as *;

header {

  .decorative{
    background-image: url("/img/old-woman.jpg");
    background-size: 400px;
    width: 100%;
    height: 250px;
    background-position: center 50%;
    margin-bottom: 2.2em;
  }
  .logo{
    width: 312px;
    margin-bottom: 2.4em;
  }
  p{
    font-family: $sbtittle;
    font-size: 1.23em;
    font-weight: 200 ;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    
  }

  .btn_group{

    display: flex;
    align-items: center;
    align-items: stretch;
    margin-bottom: 6em;

    .btn{
      @include btn()
    }

    .btn__i{
      @include btn__i()
    }
  }
}


